CONTENTFUL_SPACE_ID=xxxxxx
CONTENTFUL_ACCESS_TOKEN=xxxxxx
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_CONTENT_TYPE=product

DB_HOST=db
DB_PORT=5432
DB_USER=app
DB_PASS=app
DB_NAME=products

AUTH_USER=admin
AUTH_PASS=admin
JWT_SECRET=supersecret
JWT_EXPIRES_IN=1h

PORT=3000
NODE_ENV=development
